.antd-dark .ant-btn {
  background-color: #1F1F1F;
  border-color: #3a3a3a;
  color: #FFF;
}

.antd-dark .ant-btn:hover {
  background-color: #3a3a3a;
  border-color: #FFF;
}
.antd-dark .ant-input {
  background-color: #1F1F1F;
  border-color: #3a3a3a;
  color: #FFF;
}
.antd-dark .ant-table {
  background-color: #1F1F1F;
}

.antd-dark .ant-table-thead > tr > th {
  background-color: #3a3a3a;
  color: #FFF;
}

.antd-dark .ant-table-tbody > tr > td {
  border-color: #3a3a3a;
  color: #FFF;
}
.antd-dark .ant-tabs-tab {
  color: #FFF;
}

.antd-dark .ant-tabs-tab-active {
  color: #1890ff;
}

.qr-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.qr-image {
  max-width: 100%;
  max-height: 100%;
}
